.following-page {
  padding: 2rem 0;

  .page-title {
    margin-bottom: 2rem;
    text-align: center;
  }

  .user-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .user-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid #e5e5e5;
    border-radius: 4px;

    .user-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 1rem;
    }

    .user-info {
      flex-grow: 1;

      h2 {
        margin: 0;
        font-size: 1.2rem;

        a {
          color: #333;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      p {
        margin: 0.5rem 0 0;
        font-size: 0.9rem;
        color: #666;
      }
    }

    button {
      margin-left: 1rem;
    }
  }
}