// Base global styles

.logo-font {
  font-family: $font-family-logo;
}

html {
  position: relative;
  min-height: 100vh;
  padding-bottom: $footer-height;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

.container.page {
  margin-top: 1.5rem;
}

.error-messages {
  color: $brand-danger !important;
  font-weight: bold;
}

.preview-link {
  color: inherit !important;
  
  &:hover {
    text-decoration: inherit !important;
  }
}