// RealWorld Theme Variables

// Brand Colors
$brand-primary: #007bff; // Changed to blue for the logo
$brand-danger: #B85C5C;
$brand-dark: #333;
$brand-light: #f3f3f3;

// Typography
$font-family-logo: "Titillium Web", sans-serif;
$font-family-content: 'Source Serif Pro', serif;

// Layout
$footer-height: 100px;

// Component Colors
$tag-border-color: #ddd;
$tag-muted-color: #aaa;
$text-muted: #bbb;
$border-light: rgba(0, 0, 0, 0.1);
$card-border: #e5e5e5;