/* You can add global styles to this file, and also import other style files */

//Import Ionicon icons & Google Fonts our Bootstrap theme relies on
@import url('//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

//Import the modular RealWorld theme
@import './styles/realworld';

//Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Serif+Pro:wght@400;700&display=swap');

body {
  width: 100%;
  overflow-x: hidden;
  font-family: $font-family-logo;
  line-height: 1.5;
}

img {
  max-width: 100%;
}
