// Layout components

.banner {
  color: #fff;
  background: $brand-dark;
  padding: 2rem;
  margin-bottom: 2rem;
  
  h1 {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
  }
}

footer {
  background: #007bff;
  margin-top: 3rem;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media (max-width: 767px) {
      flex-direction: column;
      text-align: center;
    }
  }
  
  .logo-font {
    vertical-align: middle;
  }
  
  .attribution {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 0.8rem;
    color: $text-muted;
    font-weight: 300;
    
    @media (max-width: 767px) {
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }
}